/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--color: #ff0066;
	--highlight: #aadee9;

	--shadow: rgba(0,0,0,.8);

	--darken: rgba(0,0,0,.4);

	--corners: 10px;

	--paper: var(--white);
	--ink: var(--black);
}
/* you can make more! */



/* USAGE */

.thingy {
	color: var(--highlight); /* used as variable */
}


@media (prefers-color-scheme: dark) {
	html {
		--paper: var(--black);
		--ink: var(--white);
		--color: lime;
	}
}